@model IEnumerable<TA_Typing1.Models.FlashCard>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Images/Logo/logo6.PNG" />
    <title>Show Text</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <img src="~/Images/Logo/logo6_lg.png" style="height:50px;" />
    <div class="container text-center">
        <div class="text-danger" style="font-size:18px;">List of words</div>
        <div style="font-size:13px;" class="text-primary">@ViewBag.boardInfo</div>
        <div class="text-muted" style="font-size:12px;">Created: @DateTime.Today.ToString("dd-MM-yyyy")</div>
    </div>
    <br />
    @{
        var count = 0;
        foreach (var card in Model)
        {
            count++;
            <table class="container" style="width:100%; padding:10px 10px 10px 10px;">
                <tr style="border-top:1px solid #808080; padding:30px;">
                    <td class="left text-left">@count.</td>
                    <td class="text-left" style="width:30%"><div style="font-size:13px; font-weight:700">@card.word.WordDetail.WContext</div><div style="font-size:9px;" class="text-muted">@if(card.word.WordDetail.WPronounce != null){<span>/@card.word.WordDetail.WPronounce/</span>}</div></td>
                    <td class="text-center" style="width:60%">
                        @if (card.word.WordDefs.Count() > 0)
                        {
                            int count_def = 0;
                            foreach (var def in card.word.WordDefs)
                            {
                                count_def++;
                                <div class="text-danger" style="font-size:12px; padding-bottom:5px;">(@def.wType) @def.wDefinition</div>
                                <div style="font-size:10px; font-style:italic" class="text-primary">Eg: @def.wExample</div>
                                if (count_def < card.word.WordDefs.Count())
                                {
                                    <hr class="text-danger" style="height:1px; padding:0; margin:2px;" />
                                }
                            }
                        }
                    </td>
                </tr>
            </table>
        }
    }

</body>
</html>