@model IEnumerable<TA_Typing1.Models.Word>

@{
    ViewBag.Title = "flashCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>flashCards</h2>

@{
    foreach (var item in Model)
    {
        <div>@item.WContext</div>
        <div>@item.fColor</div>
        <div>@item.CreatedTime</div>
        foreach (var def in item.WordDefs)
        {
            <div>@def.wType</div>
            <div>@def.wDefinition</div>
        }


    }
}
